<footer class="container-fluid footer" style="
background-color: #277091; 
color: white; 
padding-left:100px;
padding-right: 100px;
font-size: 25px;
font-weight: 100;
">
<br>
  <div class="row">
    <div class="col-sm-7">
      <h4><b>FUNDEE</b></h4>
    </div>
    <div class="col-sm-2.5" style="padding-top: 7px">
      <p>Our Social Media :</p>
    </div>
    <div class="col-sm">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-linkedin"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <p> 
        <b style=" color: #69DBE2">Fundee</b> adalah platform untuk<br>
        menggalang dana dan<br>
        berdonasi secara online dan<br>
        transparan.
      </p>
    </div>
    <div class="col-sm-5.5" style="font-size: 20px; padding-top: 5px;">
      Meet our team :)<br>
      Naufaldi Athallah Rifqi as <b>CEO</b><br>
      Dimas Aditya Faiz as <b>CTO</b><br>
      Azhar Difa Arnanda as <b>FrontEnd Prgrammer</b><br>
      Faishal Ridwan as <b>BackEnd Programmer</b>
    </div>  
  </div>
  <p style="color: #69DBE2">Fakultas Ilmu Komputer<br>Universitas Indonesia</p>
  <br>
</footer>



    