{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>FUNDEE</title>
	<link rel="stylesheet" type="text/css" href="{%static 'stylesheet.css' %}"/>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	{% include "navbar.html" %}
</head>
<body>
<section>
	<br>
  <div>
        <div style="width: 30%; margin: auto;" class = "jumbotron">
        	<div class="row" style="background-color: #DBF2FF">
        	<h1 style="font-family: niramit; text-align: center; font-size: 40px" >Welcome to FUNDEE!</h1>
        	<br>
        	</div>
        	<br>
            <form id="form" method="POST" action="{% url 'crowdfunding:terdaftar' %}">
            {% csrf_token %}
            {{ form_daftar.as_p }}
            <input id="submit" type="submit" class="btn btn-lg btn-info" value="Sign Up">
            <p>{{errmsg}}</p>
          </form>
        </div>
    </div>

</section>
    <br><br><br><br><br>
    {% include "footer.html" %}
</body>
</html>