{% load static %}
<!DOCTYPE Html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href={% static 'css/mystyle.css' %}>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
		{% include "navbar.html" %}
	</head>

	<body>
		<div class="header">
		
			<div class="getStarted">
				<h1 class="display-4">
					No one has ever<br>become poor by<br>giving.<br>
				</h1>
				<p style="font-size: 20px">
					Get Started Today<br>
				</p>
				<form method="get" action="/crowd/donasi">
    				<button class="button" style="vertical-align:middle;"><span>Fundee now</span></button>
				</form>
			</div>
		</div>

		<div class="berita" style="background-color: #277091">
			<br><br>
			<div class="container">
				<h2 style="color: white">BERITA</h2>
				<div class="card-deck">
					{% for e in news%}

					<div class="card shadow-card" style="width:200px">
						<img class="card-img-top" src="/static/images/bencana.jpg" alt="bencana" style="width:100%">
						<div class="card-body">
							<h4 class="card-title" style="font-size: 20px">{{e.title}}</h4>
							<p class="card-text">{{e.paragraph}}</p>
							<a href="" class="btn btn-light" >Baca Sekarang ></a>
						</div>
					</div>
					{% endfor %}
				</div>
				<br>
				<a href="/viewmore/berita" class="btn btn-light" style="float: right">Selengkapnya ></a>
				<br>
			</div>
			<br><br>
		</div>

		<div class="program" style="background-color: #white">
			<br><br>
			<div class="container">
				<h2 style="color:#277091">PROGRAM</h2>
				<div class="card-deck">
					{% for e in progs%}

					<div class="card shadow-card" style="width:200px">
						<img class="card-img-top" src="/static/images/bencana.jpg" alt="bencana" style="width:100%">
						<div class="card-body">
							<h4 class="card-title" style="font-size: 20px">{{e.title}}</h4>
							<p class="card-text">{{e.paragraph}}</p>
							<div class="row">
								<div class="try col-sm-7">Terkumpul<br>{e.terkumpul}</div>
								<div class="try col-sm-5">Sisa Hari<br><b>9</b> hari</div>
								<a href="/crowd/donasi" class="btn btn-default">Donasi Sekarang</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
					
				<br>
				<a href="/viewmore/program" class="btn btn-light" style="float: right">Selangkapnya ></a>
				<br>
			</div>
			<br><br>
		</div>
		<footer>
 			{% include "footer.html" %}
 		</footer>
	</body>
</html>
<!-- 
class yang saya punya
1. head
2. berita 
-->
